*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(250, 235, 215, 0.781);
}
.input{
  display: flex;
  justify-content: space-evenly;
  
  padding: 1rem;

}
.input div{
  display: flex;
  flex-direction: column;
}
.input label{
  text-align: center;
}
h4{
  text-align: center;
}

.details .change{
  display: flex;
  flex-direction:row ;
  margin: auto;
}

.details input {
  width:3rem
}
.li{
  list-style: none;
  display: flex;
  padding-top: 0.5rem;
  width: 100%;
  justify-content: space-around;
}
.second{
  border: 1px solid black;
  padding: 0.3rem;
  margin-top: 0.5rem;
}


